html{

    scroll-behavior: smooth;
}
*{

        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* font-family: "Roboto", sans-serif;
        font-family: "Handlee", cursive;*/
        
}
.container{

        max-width:1000px;
        margin: auto;
       
}

.row{

        width: 100%;
}

.row::after{
    
    display:block;
    content: '';
    clear: both;
}



[class*=col-]{

    float: left;
    padding: 15px;

}


[class*=col-]{

    width: 100%;
}

 /*header  design start*/

    header{

        background-color: #24a19c;
        padding: 0% 1%;
        text-align: center;
    }

      .logo{

            
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align:center;
        color: white;
        border: 1px solid  white;
        border-radius: 50%;
        

            
      }

      nav ul li{

            display: block;
      }

       nav ul li a{

            display: block;
            text-decoration: none;
            padding: 5px;
            color: white;
            line-height: 70px;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-family: "Roboto", sans-serif;
            transition: 0.4s;
            



      }

      nav ul li a:hover{

            
            background-color:aqua;
            border-radius: 10px;
            color: black;

      }





  /*header design end*/    


  /*banner design starts*/

      #banner-section{

            background-image: url(bg-image.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;



      }

      .banner-contents{

        padding: 50px 10x;
        text-align:center;

      }

      .banner-contents h1{

        width: 100%;
        margin: 15px auto;
        font-size: 3rem;
        background-color: rgba(255, 255, 0, 0.884);
        border-radius: 5px;
        padding: 10px;
        font-family: "Handlee", cursive;


      }


      .banner-contents p{

          width: 300px;
          margin: 15px auto;
          background-color: rgb(0,128,0);  
          color: white;
          padding: 10px;
          font-size: 1.4rem;

      }

      #banner-section{

            position: relative;
            height: 100vh;

      }

        .banner-contents{

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .banner-contents h1 {

                width: 700px;
                font-size: 3.5rem;
        }

         .banner-contents p {

                width: 500px;
                font-size: 2rem;
        }

        footer p{
                text-align: center;
        }
        .social-menus{

                text-align: center;
        }



      .btn{


            width: 160px;
            background-color: rgb(0,128,0); 
            color: white;
            padding: 5px;
            border-radius: 10px;
            font-size: 1.3rem;
            border: none;
            transition: 0.2s;
            text-transform: uppercase;

      }

      .btn:hover{

            transform: scale(1.5);
            cursor: pointer;
      }




  /*banner design end*/

    /* about design start */


        #about-us{

                padding: 1%;
                background-color: aliceblue;
        }

        .about-us-contents{
            text-align: center;
        }

        h3{
           
            padding: 5px;
            text-align: center;
            font-size: 2rem;
            font-weight: bolder;
        }

        .about-us-contents p{

                font-size:1rem;
                margin-bottom: 10px;
               
        }


      /* about design end */


      /* food-menu design start */


        .food-item-heading{
            background-color: #24a19c;
            padding: 10px;

        }

      #menu-section{

            padding: 1%;
      }  

      .card-body{

        text-align:center;
      }

      .card-body img{

                max-width: 100%;
                height: auto;
                display: block;
      }

        .item-desc{

                background-color:gray;
                

        }

        .item-name{

            background-color: green;
            padding: 10px;
            color:whitesmoke;



        }

        .item-desc >p{

            font-size: 0.8rem;
            padding: 10px;
            font-weight: bold;


        }

        .card{

                transition: 0.5s;
        }

        .card:hover{

            transform: scale(0.9);
        }


        /* food-menu design end */

    /* contact design start from here */



        #contact{

            padding: 1%;
            background-color: #595b83;

            

        }

       

        .contact-details{

            color: white;
            padding: 10px;
            text-align: center;

        }

         .contact-us{

                background-color: green;
                color:white;
                padding: 3px;
                text-align: center;
        }

        .map{

            width: 100%;
            height: 250px;

        }

        .contact-details p, address{

                font-size: 0.8rem;
            
        }



     /* contact design ends from here */


     /* footer design start here */

            footer{

                        padding: 1%;
                        color: white;
                        background: #060930;
            }

            footer p{
                font-size: 17px;
                text-align: center;
                padding: 10px;


            }

           .social-menus{

                    font-size: 15px;
                    text-align: center;

            }

            .icon-style{
                color: white;
                width: 32px;
                height: 32px;
                line-height: 32px;
                border-radius: 50%;
                border: 1px solid white;
                margin: 0 10px;
                transition: 0.4s;
                text-align: center;



            }


            .icon-style :hover{

                background-color: gray;
                transform:scale(1.2);    

            }








     /* footer design ends here */



@media (min-width:576px) {

                .col-sm-1{width: 8.33%;}
                .col-sm-2{width:16.66%;}
                .col-sm-3{width: 25%;}
                .col-sm-4{width: 33.33%;}
                .col-sm-5{width:41.66%;}
                .col-sm-6{width: 50%;}
                .col-sm-7{width: 58.33%;}
                .col-sm-8{width:66.66%;}
                .col-sm-9{width: 75%;}
                .col-sm-10{width: 83.33%;}
                .col-sm-11{width:91.66%;}
                .col-sm-12{width: 100%;}

    
}

/* medium devices 768px and up screen*/   

@media (min-width:768px) {

                .col-md-1{width: 8.33%;}
                .col-md-2{width:16.66%;}
                .col-md-3{width: 25%;}
                .col-md-4{width: 33.33%;}
                .col-md-5{width:41.66%;}
                .col-md-6{width: 50%;}
                .col-md-7{width: 58.33%;}
                .col-md-8{width:66.66%;}
                .col-md-9{width: 75%;}
                .col-md-10{width: 83.33%;}
                .col-md-11{width:91.66%;}
                .col-md-12{width: 100%;}

    
}


@media (min-width:992px) {


            .logo-div{


                    text-align: left;
            }

            nav ul{

                    text-align: right;
            }

            nav ul li{

                    display: inline-block;
            }

            nav ul li a{

                display: inline-block;
            }

              nav ul li a:hover{

               background-color: transparent;
               transform:scale(1.2);
               text-decoration: underline;
            }


                .col-lg-1{width: 8.33%;}
                .col-lg-2{width:16.66%;}
                .col-lg-3{width: 25%;}
                .col-lg-4{width: 33.33%;}
                .col-lg-5{width:41.66%;}
                .col-lg-6{width: 50%;}
                .col-lg-7{width: 58.33%;}
                .col-lg-8{width:66.66%;}
                .col-lg-9{width: 75%;}
                .col-lg-10{width: 83.33%;}
                .col-lg-11{width:91.66%;}
                .col-lg-12{width: 100%;}

    
}