

    /* reset code and common code starts here */
*{

        padding: 0px;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
        outline: 0;
        font-weight:400;
       
}

    html{

            background-color: #fafafa;
            font-size: 62.5%;
            scroll-behavior: smooth;
            font-family: "Roboto", sans-serif;
            /* font-family: "Italianno", cursive; */

    }

    body{

            background-color: #fff;
            width: 120rem;
            max-width: 100%;
            margin: auto;
            box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;

    }

    .text-justify {

           text-align: justify;    
    }

    .section-center{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5rem 1rem;
        color: white;
        



    }

    .btn{

            background-color: rgb(230,.159,.8);
            border: none;
            border-radius: 0,6rem;
            box-shadow: 0.1rem 0.1rem 0.1rem #222;
            cursor: pointer;

    }





    /* reset code and common code ends here */



    /* header start here */

header{


        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(123, 97, 150);
        color: white;
        padding: 2rem 1rem;

      
        top: 0;
        z-index: 10;
        min-height:5vh;


}

        .logo-figure {

                        border: 1px solid white;
        }

        .logo {

                font-size: 4rem;
        }

        nav li {

                        display: inline-block;
                        margin-right:2rem;
                        padding: 1rem;
                        transition: all 0.4s;
                        text-align: center;
                        transition: transform 0.4s;
        }

        nav li:hover{

                        background-color:black;
                        border-radius: 1.3rem;
                        transform: scale(1.2);
        }

                  

 .nav-link{

                                font-size: 1.8rem;
                                color: white;
                                cursor: pointer;

                               
                }

    /* header ends here */


                  /* banner design strat here */


      #blog-banner-section{

                padding: 5rem 1rem;
                display:flex;
                justify-content: center;
                align-items: center;
                min-height:95vh;
                background-color: black;
                
      }

      .banner-img{

                width: 50rem;
                height:50rem;
                border: none;
                padding: 10px;
                text-shadow: 2px 0px 4px 16px blue;
              
            
      }

        #blog-banner-section article {

                flex-basis: 50%;
                margin: 2rem;
              
        }

          #blog-banner-section aside {

              flex-basis: 50%;
              text-align: center;
        }

        .banner-heading {
                        display: inline-block;
                        font-size: 35px;
                        background-color:black;
                        color:white;
                        padding: 10px;
                        font-weight: bold;
                        border-radius: 15px;
                        margin-bottom: 15px;
                        box-shadow: 0px 0px 4px 4px rgb(4, 4, 249);
                       transition: transform 0.4s;
                       margin-right: 5px;
        }

        .banner-heading:hover{

                transform: scale(1.1);
        }

        .banner-desc { 

                font-size:20px;
                text-align: center;
                padding: 5px;
                text-align: justify;
                color: white;
                background-color: rgb(3, 3, 35);
               
        }

       /* banner design strat here */


       /* about start here */

       #blog-about{

                min-height: 120vh;
                padding: 5rem 1rem;
                background-color: black;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: space-evenly;
       }

       .section-heading{
         font-family: "Italianno", cursive; 
         color: white;
         font-size: 40px;
         box-shadow: 0px 0px 4px 4px rgb(4, 4, 249);
         padding: 5px;
         border-radius: 15px;
         transition: transform 0.4s;
         display: inline-block;
         

       }


       .section-heading:hover{

        transform: scale(1.2);
       }

       .card-container{

                display: flex;
                align-items: center;
                font-size: 30px;

       }

       .card{

     
        padding: 5px;
        flex: 1;
        margin: 40px;
        background-color:rgb(3, 3, 35);
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s;
        box-shadow: 1px 1px 2px 2px blueviolet;
        

        

       }

       .card-heading{
                font-size: 20px;
               
                padding: 5px;
                color: white;
               
                

            
            }

                

        .card-desc p{


            font-size: 18px;
            color: white;
            padding: 10px;
   

        }

           .card-desc button{

            background-color: black;
            color: white;
            padding: 4px;
            border: 2px solid rgb(124, 110, 110);
            border-radius: 10px;
            transition: transform 0.3s;
           }

           .card-desc button:hover{

                   background-color: #c4c4c4;
                   transform: scale3d(1,1,1);
                   box-shadow: 0 0 2px 3px;
           }


        .card:hover{
                transform: scale(1.2);
        }


       

         /* about ends here */



         /* archives start here */


        #archives {
                 min-height: 120vh;
                padding: 5rem 1rem;
                background-color: black;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: space-evenly;


        }

        .archives-container{

            display: flex;
            justify-content:space-evenly;
            align-items: center;
            padding: 2rem;
            border-top:0.1rem solid white;
            border-bottom:0.1rem solid white;

        }

        .archives-container-lists{

                display: flex;
                text-align: center;

        }

            .archives-container-list{

                     margin: 2rem;
            }


            .archives-images 
            {
                width: 100%;
                height: 100%;
                border-radius: 0.6rem;
                border: 1px white solid;
                transition: transform 0.4s;

            }

            .archives-images:hover{

                    transform: scale(1.2);
            }

            .section-heading{
                
             font-family: "Italianno", cursive;
             
            }


/* archives ends here */




/* blog post start here */

            

        #blog-post{
           
                min-height: 120vh;
                padding: 5rem 1rem;
                background-color:black;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: space-evenly;
                color:white;
            
        }

        .blog-post-heading{

                margin-bottom: 5rem;
               
                font-size: 40px;
                font-family: "Italianno", cursive;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 4px 4px blue;
                transition: transform 0.4s;


        }

        .blog-post-heading:hover{

                        transform: scale(1.22);
        }


        .blog-post{
            width: 70%;
            display: flex;
            margin: 1rem 0rem;
            box-shadow:0.1rem 0.1rem 0.1rem #222, -0.1rem  0 0.1rem  #222;
            border: 1px solid white;   
            transition: trasnform 0.4s; 
        }

        .blog-post:hover{
                transform: scale(1.1);


        }

        .blog-post-aside{

                        flex: 1;
        }

        .blog-content{
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 5px;


        }

        .blog-img{

                width: 100%;
                height: 100%;
        }

        .blog-heading{

                font-size: 20px;
                padding: 5px;


        }

        .blog-subheading{
                padding: 5px;

        }

        .blog-description{

                padding: 5px;
                text-align: justify;
                font-size: 10px;
        }

        .blog-btn{
                padding: 5px;
                background-color: black;
                color: white;
                box-shadow: 0px 0px 1px 1px blue;
                width:100px;
                transition: transform 0.4s;
        }

        

/* blog post ends here */
/* 
Contact section start here */


        #contact-section{
                min-height: 90vh;
                padding: 5rem 1rem;
                background-color:black;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: space-evenly;
                color:white;
        }

        #contact-form{

                        padding:1rem;
                        box-shadow:0.1rem .1rem 1rem blue
                        , -0.1rem  0 0.1rem blue;
                        margin: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        }   
                        
                        .from-control{

                                margin-bottom: 1.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                

                        }

                        .form-control label{

                                        font-size: 1.6rem;
                                        flex: 0.3;


                        }


                        input, textarea{

                                     flex: 0.7;
                                     width: 40rem;
                                     height: 4rem;
                                     font-size: 2rem;
                                     padding: 2rem 1rem;
                                     border: 2px solid blue;
                                     border-radius: 0.6rem;
                                     margin: 10px;
                                     display: flex;
                                     
                                     
                                

                        }

                        textarea:hover{

                               width: 50rem;
                               height: 30rem;


                        }

                        .contact-btn{

                                margin: 3rem;
                                background-color: black;
                                color: white;
                                padding: 5px;
                                font-size: 20px;
                                box-shadow:0.1rem .1rem 1rem blue
                                , -0.1rem  0 0.1rem blue;
                                transition: transform 0.4s;

                        
                        }

                         .contact-btn:hover{

                                transform: scale(1.2);


                         }

                         .restart-btn{
                                        justify-content:flex-end;
                                        background-color: black;
                                        color: white;
                                         box-shadow:0.1rem .1rem 1rem blue
                                        , -0.1rem  0 0.1rem blue;
                                        padding: 10px;
                                        transition: transform 0.4s;
                                        font-weight: bold;
                                        font-size: 16px;

                

                                        
                         }


                         .restart-btn:hover{
                                transform: scale(1.2);
                         }

                        .contact-heading{

                                 font-family: "Italianno", cursive;
                                 font-size: 5rem;
                                 box-shadow:0.1rem .1rem 1rem blue
                                   , -0.1rem  0 0.1rem blue;
                                 padding: 5px;
                                 transition: transform 0.4s;
                                
                                
                        }

                        .contact-heading:hover{

                                cursor: pointer;
                                transform: scale(1.1);
                        }



/* Contact section ends here */



/* footer start here */

footer{
        background-color: black;
        color:white;
        padding: 1rem;
        min-height: 5vh;
        display: flex;
        justify-content: space-between;

}

footer li a {
        padding: 5px;
        margin: 5px;
        border: 1px solid blue;
        border-radius: 50%;
        box-shadow:0.1rem .1rem 1rem blue
         , -0.1rem  0 0.1rem blue;
        transition: transform 0.4s;
        align-items: center;

}

        .footer li a:hover{


                transform: scale(1.2);
        }

        .copyright-text{

                font-size: 10px;


        }





/* footer ends here */


        /* responsive start here */

        /* =======================
   max-width: 992px
========================= */
        @media (max-width: 992px) {

    #blog-banner-section {
        flex-direction: column;
    }

    #blog-banner-section article {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
    .card-container{
            width: 50%;
            flex-direction:column;
            display: flex;
            align-items: center;
            
    }





}

/* =======================
   max-width: 768px
========================= */
@media (max-width: 768px) {

    html {
        font-size: 55.55%;
    }

    #blog-banner-section article {
        width: 80%;
    }
        .blog-post{

        flex-direction: column;
        width: 80%;
        margin-bottom:3rem;
}

#contact-section{

                min-height: auto;
}


        #contact-form{

                       width: 50%;
         }

          nav li {

        flex-direction: column;
               
          }

}

/* =======================
   max-width: 600px
========================= */
@media (max-width: 600px) {

    html {
        font-size: 48.5%;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        padding-left: 2.5rem;
    }

    nav li {
        display: block;   /* FIXED */
        margin-left: 0;
        margin: 1rem;
    }
    #blog-banner-section{
        min-height: auto;

    }

    .card-container{
            width: 90%;
            flex-direction:column;
            display: flex;
            align-items: center;
            
    }

    

    #archives{

            min-height: auto;
    }

    #blog-banner-section article{

            width: 90%;
    }
    #blog-about{

            min-height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }

    .banner-img{

            max-width: 100%;
    }

    .archives-container-lists{

        flex-wrap: wrap;
        margin-bottom: 30px;
        transition: transform 0.2s;
    }

    .archives-container-lists:hover{

         transform: none;
    }

    .blog-post{

        width: 90%;
    }


    #contact-form{

        width: 90%;
    }

    .form-control{

                flex-direction:column;
    }

    .form-control label{

                margin-bottom: 0.5rem;
    }

     input, textarea{

                                   max-width: 100%;
                                     
                                     
                                

                        }


    footer{
        flex-direction: column;
    }

    #menubar2{

       display:flex;
    }

}



/* blog about ends here */ 


/* archives ends here */




/* =======================
   max-width: 400px
========================= */
@media (max-width: 400px) {

    .card-container{
            width: 100%;
            flex-direction:column;
           
    }

     .blog-post{

        width: 90%;
    }


    

    
}

/* Add small screen rules here later */

      
      
      

      


    
    /* resposive start here */