*{

    margin: 0px;
    padding: 0px;
}
     /* for dekstop*/
                .col-1{width: 8.33%;}
                .col-2{width:16.66%;}
                .col-3{width: 25%;}
                .col-4{width: 33.33%;}
                .col-5{width:41.66%;}
                .col-6{width: 50%;}
                .col-7{width: 58.33%;}
                .col-8{width:66.66%;}
                .col-9{width: 75%;}
                .col-10{width: 83.33%;}
                .col-11{width:91.66%;}
                .col-12{width: 100%;}



     .nav-logo{

             text-align: left;
           

     }

 .nav-heading h1{

          text-align: right;
         
 }

 .navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
 }

 img{

        width:100px;
        height: 100px;
 }

 .navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
           
            
 }

   /*navbar design end here*/

   .profile .top-weather-icon{

            
            right: 100px;
            width: 120px;
            transition:width 2s, transform 2s;

  }

    
  .profile .top-weather-icon:hover{

        
    width: 140px;

  }
    .profile-desc p{
    color: gray;
    margin: 0 auto;
    width: 50%;
    text-align: center; 
    margin-bottom:10px ;


  }


    .profile .bottom-weather-icon{

            bottom: 20px;
            left: 140px;
            width: 120px;
            transition:width 2s, transform 2s;

  }

    
  .profile .bottom-weather-icon:hover{

        
             width: 140px;

  }

/* about me design start here  */


   .aboutme-image{


            margin-top: 50px;

   }
   .aboutme-image img{
      height: 240px;
      width: 210px;
   }
   .aboutme-desc p{
         text-align:left;
   }

   /*professional design start here*/
    .professional{

                padding: 1% 5%;
    }
  /*professional design end here*/

   /*here design start achievement part*/ 
   
   
   .achievement-contact{

    padding: 1% 7%;

   }

   .contact button{

    width: 150px;
    padding: 10px;
   }

   .contact-links{

      position: relative;
   }

   .media-button{

        position: absolute;
        margin-top: 200px;
        left:50%;
        top: 50%;
        transform: translate(-50%, -50%);

         }

         /*footer design start here*/


         .footer-menu{

            margin-top: 12px;

         }

         .footer-menu a{

            display: inline;
            margin: 10px;
         }
   