*{

    margin: 0px;
    padding: 0px;
    font-family: "Fira sans", sans-serif;
    box-sizing: border-box;
}

h1{

    font-size: 2.4rem;
    
}
a{
    color: white;
    
    text-decoration: none;
    font-size: 1.2rem;
}

    
p{


        font-size: 1.2rem;
        text-align: justify;
}
h2{

         
            font-size: 1.5rem;
            text-align: center;
    }

    .dotted-hr{

            border: dotted 6px white;
            border-bottom: none;
            margin:20px auto ;
            width: 100px;
    }


    [class*="col-"]{

            float: left;
            padding: 10px;
    }

    /* for mobile */

    [class*="col-"]{
        width: 100%;
    }

.navbar{

        background-color: rgb(125, 104, 104);
        padding: 3% 10%;
        text-align: center;
}


.navbar h1{

        color: white;
        margin: 0px;
        
        
        
}

 .navbar::after{

        content: '';
        display: table;
        clear: both;      
}
.navbar-menu{

            display: flex;
            flex-direction: column;
            text-transform: uppercase;



}


    .navbar-menu a{

           background-color: brown;
            margin: 10px  12px;
            padding: 10px;
            border-radius: 20px;
          

    }

    

    .navbar-menu a:hover{

                background-color: rgb(100, 100, 106);
    }

  /*profile design start from here*/

  .profile{

        padding: 130px 10px;
        position:relative;
        text-align: center;



  }

  .profile .top-weather-icon{

            position: absolute;
            right: 60px;
            top: 20px;
            transition: transform 2s;

  }

    
  .profile .top-weather-icon:hover{

        
        transform: rotate(360deg);

  }

  .profile-desc h1{
    
        font-family: "Satisfy", cursive;
        font-size:5rem;
  }

  .profile-desc p{
    color: gray;
    margin: 0 auto  20px auto;
    width: 90%;
    text-align: center; 


  }


    .profile .bottom-weather-icon{

            position: absolute;
            left: 60px;
            bottom: 10px;
            transition: transform 2s;

  }

    
  .profile .bottom-weather-icon:hover{

        
        transform:rotate(360deg);

  }
   
  .profile::after{

        content: '';
        display: table;
        clear: both;
  }

  /*about me design start here */


    .about-me{


            background-color: rgb(94, 108, 94);
            padding: 1% 7%;
            color: white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .about-me::after{
        display: table;
        content: '';
        clear: both;
    }

    .aboutme-image img{

        border: 5px solid white;
        border-radius:110px;
        height: 200px;
        width: 180px;
    }

    .about-me p{
            text-align: center;
    }

    .about-me a{

            font-size: 1.2rem;

    }
    .cv-button{

            background-color: black;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 20px;
            font-size: 1re;
            cursor: pointer;
            text-align: center;

            
    }


    /* professional experience*/

    .professional{

                padding: 1% 2%;
    }
    
    .professional .card{

        background-color: #a39e9e;
        border-radius:7px;
        padding: 7px;
        transition: 0.3s;
        height: 800px;

    }
     .professional .card:hover{

                box-shadow:  0 8px 16px black;
     }

     .card-icon{

                text-align: center;
     }

     .card-icon img{

                margin-top: 20px;
                width: 100px;
     }



     .professional::after{

        display: table;
        content: '';
        clear: both;
     }
       
     .rounded-image{


                border: 5px solid white;
                border-radius:  50%;
                padding: 15px;
     }

     .card-title h2{

                background-color:#616161;
                color: white;
                padding: 10px;
                text-align: center;
     }

     .professional.card-desc{

                margin-right: 20px;
     }


     /*skills section design start here*/


        .skill-container{

                        padding-right: 45px ;

        }

        .skills-container li{

                        list-style: none;
                        font-weight: bolder;
                        margin: 30px 20px;
                        position: relative;
                        text-transform: uppercase;
        }

        .skills-container li::before{


                        content: '';
                        position:absolute;
                        top: calc(100% + 6px);
                        left:0px;
                        width: 100%;
                        height: 10px;
                        background-color: rgba(86, 86, 153,0.5);
                        border-radius: 1000px;
                      
        }

         .skills-container li::after{


                        content: '';
                        position:absolute;
                        top: calc(100% + 6px);
                        left:0px;
                        width:0;
                        height: 10px;
                        background-color: rgba(86, 86, 153,1);
                        border-radius: 1000px;
                        animation-timing-function: linear;
                        animation-duration: 2s;
                        animation-iteration-count:infinite;
                        animation-fill-mode: forwards;

        }


        .skills-container li.HTML::after{
                animation-name:HTML;

        }

        @keyframes HTML{

         to{
                width: 90%;
                }
                
        }

          .skills-container li.HTML::after{
                animation-name:HTML;

        }

        @keyframes HTML{

         to{
                width: 90%;
                }
                
        }

          .skills-container li.CSS::after{
                animation-name:CSS;

        }

        @keyframes CSS{

         to{
                width: 80%;
                }
                
        }

          .skills-container li.JAVASCRIPT::after{
                animation-name:JAVASCRIPT;

        }

        @keyframes JAVASCRIPT{

         to{
                width: 70%;
                }
                
        }
          .skills-container li.PYTHON::after{
                animation-name:PYTHON;

        }

        @keyframes PYTHON{

         to{
                width: 85%;
                }
                
        }

             .skills-container li.JAVA::after{
                animation-name:JAVA;

        }

        @keyframes JAVA{

         to{
                width: 80%;
                }
                
        }

        

        
        .skills-container li::after{


                        content: '';
                        position:absolute;
                        top: calc(100% + 6px);
                        left:0px;
                        width: 0;
                        height: 10px;
                        background-color: rgba(86, 86, 153,1);
                        border-radius: 1000px;
        }


    /*here design start achievement part*/  
    
    
.achievement-contact {

                padding: 3% 11%;
                background-color: #39a4ac;
                color: white;
}

.contact{

        text-align: center;
        padding: 1% 3%;
}

.contact input,textarea{

                width: 100%;
                padding: 10px;
                font-size:  1rem;
                text-align:center;
                border: none;
                border-radius:6px;
                resize: none;

}



        .contact button{

                border: none;
                border-radius: 7px;
                padding:  4px;
                background-color:black;
                width: 100px;
                margin: 5px;
                color: white;

                        
        }

                .contact button:hover{

                        width:130px;
                        box-shadow: 0 4px 8px black;
                        cursor: pointer;

                }

        .contact-links{

                        text-align: center;
        }


                .media-button .btn{


                                border:none;
                                border-radius: 25px;
                                font-size: 40px;
                                padding: 5px;
                                margin: 5px;
                                cursor: pointer;
                                width:  60px;


                                
                }

                        .btn:hover{

                                        width: 70px;
                                        background-color: blueviolet;


                        }
        
 /* this is clear function*/ 

.achievement-contact::after{

        content:'' ;
        display: table;
        clear: both;
}

/*fotter strat from here */


.footer{

                background-color: black;
                color: white;
                padding: 20px;
                text-align:center;
                font-size: 0.8rem;
        
}

.footer-menu a{

                display: block;
                margin: 15px 0px;
                font-size: 1rem;

}

        .footer-menu a:hover{

             color:red;


        }

.footer::after{

        display: table;
        content: '';
        clear: both;
}

